.contact-fullcontainer{
    width:100vw;
    height:100vh;
    background-image: linear-gradient(to right,#030d27,#152b57,#1e8dbe);

}
.contact-container {
    position:relative;
    margin-top: 1rem;
    max-width: 350px;
    height:400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contact-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contact-description {
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .submit-btn {
    width: 100%;
    padding: 6px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  .successbar{
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 8px;
    background-color:#1e8dbe;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  .other{
    width:100%;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction:column;
    margin-left: auto;
  }
  .other ul {
    list-style: none;
    color: #ccc;
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .other ul li{
    padding: 1rem;
  }
  @media only screen and (max-width: 600px) {
    .contact-fullcontainer {
        padding-bottom: 2rem; 
    }

    .contact-heading {
        font-size: 20px; 
    }

    .contact-description {
        font-size: 14px; 
    }

    .form-group {
        margin-bottom: 8px; 
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 14px; 
    }

    .submit-btn {
        font-size: 16px; 
        padding: 8px; 
    }

    .other ul {
        font-size: 1rem; 
    }

    .other ul li {
        padding: 0.5rem; 
    }
}