.home{
    width:100vw;
    height: 100vh;
    background-image: url('../images/homeimg.jpeg');
    
}
.homeDetails{
    font-style: italic;
    width:90%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.homeDetails h2{
    margin-top: 1rem;
}
.homeDetails .linkdetails{
    margin-top:1rem;
}
.homeDetails  a{
    text-decoration: none;
    color: white;
    margin: 1rem;
    background: rgb(13, 12, 61);
    border-radius: 20px;
    padding: 0.3rem;
    border:1px solid rgb(130, 151, 215);
    transition: .5s;
}
.homeDetails a:hover{
    transform: scale(1.02);
}
@media only screen and (max-width: 600px) {
    .home{
        object-fit: cover;
        background-repeat: no-repeat;
    }

    .homeDetails {
        width: 100%;
    }

    .homeDetails h2 {
        font-size: 1.5rem;
    }

    .homeDetails .linkdetails {
        font-size: 0.8rem; 
    }

    .homeDetails a {
        padding: 0.2rem; 
        margin: 0.5rem; 
    }
}